h1 {
    margin-bottom: 35px;
}
input[type="text"] {
    width: 260px;
    float: left;
}
.narrow-button {
    float: left;
    margin-left: 10px;
}
.search {
    display: inline-block;
    margin-bottom: 15px;
}